<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form>
        <div class="container">
        <h2>Action</h2>
        <label for="email">Email</label>
        <br>
        <br>
        <input type="email" name="Email" id="Email" placeholder="abc@gmail.com">
        <br>
        <br>
        <button>Update Email Address</button>
        <br>
        <br>
        <label for="password">Password: </label>
        <br>
        <br>
        <button>Change Password</button>
        <br>
        <br>
        <label for="API-KEY">API key</label>
        <br>
        <br>
        <input type="text">
        <br>
        <br>
        <label for="">Subscription</label>
        <br>
        <br>
        <div class="para">
        <p>Plan: Developer</p>
        <p>You should only use the Developer plan if your project is in development <br> <br>If your product is being used in production, please upgrade to paid plan</p>
        </div>
        <br>
        <button>Manage Subscription</button>
    </div>
    </form>
</body>
</html>